#map {
    width: 100%;
    height: 96vh;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info li {
    margin-left: 10px;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
#container {
    position: absolute;
    top: 75vh;
    left: 1vw;
    z-index: 1000;
    overflow-y: scroll;
    height: 20vh;
    width: 67vw;
}
#visitList {
    padding: 3px;
}
#year {
    width: 15vw;
}
#note {
    width: 60vw;
}
input {
    padding: 2px 4px;
    margin: 4px 2px;
}
input[type=submit] {
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 13%;
    padding-inline: 10px;
}
a.no-underline {
    text-decoration: none;
}
.ml-1 {
    margin-left: 2px;
}
.flex {
    display: flex;
}
.d-none {
    display: none;
}
